@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: white;
  display: flex;
/*   align-items: center; */
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}

.main {
  padding-top:70px;
  text-align: center;
  vertical-align: center;
/*   display: flex; */
  justify-content: center;
  alighn-items:center;
}
li{
  line-Height: 45px
}

.navy {
  background-color: #3498db;
  color: black;
  margin: 3px;
  padding: 8px;
  text-decoration: none;
  border-radius: 10px;
}
navigates {
  color: black;
  margin: 15px;
  padding: 10px;
  text-decoration: none;
}

.navigation {
  position: fixed;
  top: 30px;
  right: 5px;
  margin-bottom: 30px;
}

.nav_btn {
  background:#3498db;
  padding:8px;
  color:white;
  border:2px solid #3498db;
  margin:2px;
}
.nav_btn2 {
  background:white;
  padding:8px;
  color:#3498db;
  border:2px solid #3498db;
  margin:2px;
}
.btn {
  display:flex;
  justify-content: center;
}
input{
  outline:none;
  padding:7px;
  margin-top:10px;
  width: 270px;
}
.user_btn{
   background:white;
  color:black;
  margin: 3px;
  font-size:12px;
  padding:7px;
  border-radius:8px;
  border: 1px solid #3498db;
}

.next_btn{
  padding:7px;
  margin:4px;
  border-radius:8px;
}

.next_btn:hover {
  color:white;
}

.user_btn:hover{
  background-color:#3498db;
  color:white;
/*   background-color:#0F3A57; */
}

.light{
  background:white;
  color:black;
  border:none
}
.dark{background:black;
     color:white}
img{
  border-radius:50%
}

.info{
  margin-top:12px;
  margin-bottom:27px;
    padding:20px;
    line-Height:25px;
  border: 2px solid #3498db;
  box-shadow: 5px 10px #3498db;
}
.errors{
  margin-top: 5px;
 margin-bottom: 18px;
  color: grey;
  font-size: 16px;
}